
<a href="{{ path('admin_app_bundle_SMS_create', { 'copy_id' : object.id }) }}" class="btn btn-sm btn-default edit_link" title="{{ 'action_edit'|trans({}, 'SonataAdminBundle') }}">
    <i class="glyphicon glyphicon-file"></i>
    Copy
</a>
