{% extends "@App/Others/Default/FAQ/faq_layout.html.twig" %}
{% block title %}FAQ, الأسئلة المتداولة{% endblock %}
{% block faq_txt %}

    <h2 class="text-center">FAQ, الأسئلة المتداولة</h2>

    <h3 class="voffset4" id="sms_not_sendt"> لقد قمت ببعث رسالة كتابية، و لم أتوصل بالجواب </h3>
    <p>
        :قد يكون هناك عدة أسباب لذلك
    <ul>
        <li>  لم تكتب النص بشكل صحيح، لقد بعثه الى رقم خاطئ ، المرجو التأكد، و ان كان هناك غلط، ابعثه من جديد </li>
        <li> لا تتوفر على التعبئة -</li>
        <li>  .رقم هاتفك الجوال هو على "القائمة السوداء" في نظامنا، إما لطلب من صاحب العقد، و إما لأنك قد سجلت فاتورة غير مدفوعة سابقا-
        </li>
        <li>
            لقد منعت الوصول إلى الخدمات المتميزة على الهاتف النقال، تم حظره من طرف شركتك للأتصال وتفعيلها يجب الاتصال بمركز خدمة الزبناء  وتنشيط الطلب -

        </li>
        <li> . لديك حضر من الخدمات المميزة من شركتك للأتصال، لأن صاحب العقد قد طلب ذلك </li>
        <li>  .المشغل الخاص بك لا تسمح باستخدام خدمات مميزة (العديد من مشغلي افتراضية لا تسمح بذلك). عليك أن تختار طريقة دفع أخرى-</li>
        <li>   .بعض المشغلين لا يسمحن باستخدام  الرسالة الكتابية للخدمة المميزة في العقود التجارية، أو الدخول قد بعث الى رقم مبتدىء بصفر مثلا، 025522 </li>
    </ul>
    </p>

    <p>                                                                                                                                           إذا كنت تعتقد أنه ليس من قبل أي من الأسباب المذكورة أعلاه، يرجى زيارة مركز الدعم الفني وتعبئة النموذج مشيرا  إلى رقم الهاتف النقال الذي حاولت عبره
    </p>

    <h3 id="cant_call">.لم نتمكن الأتصال برقم الهاتف النقال المشار</h3>
    <p>
        :كما هو الحال مع الرسالة الكتابية (قد يكون هناك رابط على السؤال؟)، قد تكون عدة أسباب
    <ul>
        <li>  .لم تكتب بشكل صحيح، المرجو التأكد، و المحاولة مرة أخرى</li>
        <li>  .لديك خدمة بطاقة الشحن و ليس  رصيد كافي</li>
        <li>  .رقم  هاتفك الجوال هو على "القائمة السوداء" في نظامنا، إما لطلب من صاحب العقد، و  إما لأنك قد سجلت فاتورة غير مدفوعة سابقا-
        </li>
        <li>  .تم منع الوصول إلى الخدمات المتميزة على هاتفك النقال، لأنه تم حظره بواسطة الافتراضي و لتفعيلها ايجب عليك الاتصال بمركز خدمة الزبناء وتنشيط -
        <li> .العديد من الشركات يمنعون استعمال الخدمات المميزة على المشتركين على الهاتف الثابت و كذلك على الهاتف النقال</li>
        <li> .لقد منعت الخدمات الخاصة على الهاتف عند طلب صاحب العقد . </li>
        <li>  مشغل الخاص بك لا تسمح باستخدام خدمات مميزة (العديد من مشغلي افتراضية لا تسمح بذلك). عليك أن تختار طريقة دفع أخرى</li>
        <li>  .بعض المشغلين لا تسمح باستخدام خدمات متميزة في العقود التجارية. إذا كان ذلك ممكنا، صاحب العقد هو الذي يمكنه تفعيله</li>
    </ul>
    </p>
    إذا كنت تعتقد أنه ليس من قبل أي من الأسباب المذكورة أعلاه، يرجى زيارة مركز الدعم و املأ النموذج مشيرا رقم الهاتف الذي قمت عبره بمحاولاتك .سندرس .الوقائع وسوف نتصل بك لتعطيك تفسيرا لما حدث </p>
    <h3 id="paypal_doesnt_work"> .لقد أديت عبر الباي بال ، و لكن لم أتوصل بالاعتمادات على حسابي</h3>
    <p>
        نحتاج منك أن ترسلنا لمعرف المعاملة، سواء على ولوباي مثل باي بال، وكذلك إثبات الدفع لهذه الأخيرة. بمجرد التحقق من المعلومات، وسوف نتصل بي  اللعبة لتقديم تقريرما حدث ومعالجة المعاملات الخاصة بك
        support@wolopay.net
        .


    </p>

    <h3 id="code_sms">لقد بعث رسالة نصية قصيرة (أومكالمة عبر الهاتف)، و لدي الرمز .أين أضعه؟
    </h3>
    <p>
        اذا كنت قد أرسلت رسالة نصية قصيرة مع اسم الأشتراك أو اتصلت برقم هاتف اللعبة ، و لكن بدون البدء في الشراء منه، يصعب علينا تحديد رسالتك أو(مكالمة عبر الهاتف) الى أي معاملة ، و بالتالي لا يمكن لنا التعرف على اللعبة حتى زيادة الرصيد، يجب عليك الدخول الى اللعبة، في قسم اعادة تحميل الحساب، جدد طريقة .الدفع، و التعليمات لعدم ارسال رسالة كتابية، أو اتصال هاتفي، في الخطوة الموالية، يمكنك ادخال الرمزو لكن مرة واحدة فقط.
    </p>

    <h3 id="code_pre_inserted">.لقد كان لدي رقم الرمز، و عند ادخاله، يخبرني أنه مستعمل</h3>
    <p>


    </p>
    قم بزيارة مركز الدعو،أدخل البيانات المطلوبة بما في ذلك الرمز و البريد الألكتروني و سوف نتيقن اذا استعمل الرمز(وأين ومتى)، و اذا لم يكن كذلك ، سنوفر لكم الحل عبر البريد الألكتروني   رمزجديد



{% endblock %}