{% extends "@App/Others/Default/FAQ/faq_layout.html.twig" %}
{% block title %}FAQ、よくあるご質問{% endblock %}
{% block faq_txt %}

    <h2 class="text-center">FAQ、よくあるご質問</h2>

    <h3 class="voffset4" id="sms_not_sendt">SMSを送っても、返事が届きませんでした</h3>
    <p>
        この問題は、いくつかの原因が考えられます:
    <ul>
        <li> 正しくテキストを入力しなかった、もしくは正しくない番号に送信した可能性があります。こちらをご確認いただいた後、再度お試しください。</li>
        <li> プリペイドユーザーのため残金が残っていない可能性があります。</li>
        <li> -　私たちのシステムにお使いの携帯番号が"ブラックリスト"に登録されている、契約者の要望によって、または未払いの請求書がある可能性がございます。</li>
        <li> 通信会社の規定設定でSMS有料サービスへのアクセスがブロックされている可能性があります。カスタマーサービスにご連絡頂き、有効にしてください。</li>
        <li> 契約者の要望により、SMS有料サービスへのアクセスがブロックされている可能性があります。</li>
        <li> 通信会社が有料サービスの利用を認めていない可能性があります。別の支払い方法を選択いただく必要があります。</li>
        <li> いくつかの通信会社は、SMS有料サービスを承認していません。また、番号の頭にゼロを加える必要がある通信会社もございますので、ご注意ください。例えば、025522など。 </li>
    </ul>
    </p>

    <p> 上記のいずれの理由にも該当しない場合、サポートセンターにアクセスし、ご利用の携帯番号などフォームの項目を入力して送信してください。お問い合わせ内容を十分検討し、個別対応でご説明させていただきます。
    </p>

    <h3 id="cant_call">画面に表示された番号に電話が出来なかった</h3>
    <p>
        SMSと同様、いくつかの原因が考えられます:
    <ul>
        <li> 正しく入力されなかった可能性があります。ご確認頂き、再度お試しください。</li>
        <li> プリペイドユーザーのため残金が残っていない可能性があります。</li>
        <li> 私たちのシステムにお使いの携帯番号が"ブラックリスト"に登録されている、契約者の要望によって、または未払いの請求書がある可能性がございます。</li>
        <li> 通信会社の規定設定でSMS有料サービスへのアクセスがブロックされている可能性があります。カスタマーサービスにご連絡頂き、有効にしてください。</li>
        <li> 通信会社の規定設定で携帯電話及び固定電話を使用した有料サービスへのアクセスがブロックされている可能性があります。カスタマーサービスにご連絡頂き、有効にしてください。</li>
        <li> 契約者の要望により、SMS有料サービスへのアクセスがブロックされている可能性があります。</li>
        <li> 通信会社が有料サービスの利用を認めていない可能性があります。別の支払い方法を選択いただく必要があります。</li>
        <li> いくつかの通信会社は、電話決済を承認していません。また、番号の頭にゼロを加える必要がある通信会社もございますので、ご注意ください。</li>
    </ul>
    </p>
    <p>
        上記のいずれの理由にも該当しない場合、サポートセンターにアクセスし、ご利用の携帯番号などフォームの項目を入力して送信してください。お問い合わせ内容を十分検討し、個別対応でご説明させていただきます。
    </p>
    <h3 id="paypal_doesnt_work"> PayPalで支払いを完了させたのに、アカウントにクレジットが表示されません。</h3>
    <p>
        support@wolopay.netにWolopayまたはPayPalの決済IDと領収書を送付してください。確認次第、何が起きたのかをご報告と決済の処理を行います。
    </p>

    <h3 id="code_sms">SMSを送信(または電話)をして、コードを受け取りました。どこに入力すればいいんですか？</h3>
    <p>
        購入前にユーザー名を使ってSMSを送信、または、ゲームの通常の連絡先番号に電話をした場合、メッセージまたは電話を決済に割り当てることができず、ゲーム側にクレジットを追加することができません。ゲームにアクセスし、アカウントチャージの項目、決済方法の選択をし、指示の時点ではSMSを送信したり電話はせずに、第2ステップでコードを一度だけ入力してください。
    </p>

    <h3 id="code_pre_inserted">持っていたコードを入力すると、もう使用済みであると表示された</h3>
    <p>
        弊社サポートセンターにアクセスしていただき、コードやメールアドレスなどの必須項目をご入力ください。 コードがどこから、いつ使用されたかどうかをこちらで確認し、メールを通して解決方法(通常は新しいコードの送信)をご連絡させていただきます。
    </p>

{% endblock %}