{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field%}
    <span class="label
        {% if object.statusCategory.id is constant('AppBundle\\Entity\\Enum\\PaymentStatusCategoryEnum::COMPLETED_ID') -%}
            label-success
        {% elseif object.statusCategory.id is constant('AppBundle\\Entity\\Enum\\PaymentStatusCategoryEnum::FAILED_ID')  -%}
            label-danger
        {% elseif object.statusCategory.id is constant('AppBundle\\Entity\\Enum\\PaymentStatusCategoryEnum::PENDING_ID')  -%}
            label-info
        {% elseif object.statusCategory.id is constant('AppBundle\\Entity\\Enum\\PaymentStatusCategoryEnum::BLOCKED_ID')  -%}
            label-warning
        {% else %}
            label-default
        {% endif %}
    ">
        {{ object.statusCategory.name }}
    </span>
{% endblock %}