<a href="{{ path('admin_app_bundle_App_import_to_sandbox', {'appId': object.id}) }}" class="btn btn-sm btn-default edit_link" title="{{ 'action_edit'|trans({}, 'SonataAdminBundle') }}">
    <i class="glyphicon glyphicon-hdd"></i>
    Import to sandbox
</a>
