<style>
    .pay-method-box{
        clear: both;
        margin: 15px 0;
        padding-bottom: 30px;
        display: inline-block;
        cursor: pointer;
    }
    .pay-method-box .pay-method{
        float: left;
        padding: 5px 10px;
        margin: 4px;
        background: #FAFAFA;
        border: 1px solid #CACACA;
        -webkit-border-radius: 20px;
        -webkit-border-top-right-radius: 0;
        -moz-border-radius: 20px;
        -moz-border-radius-topright: 0;
        border-radius: 20px;
        border-top-right-radius: 0;
        min-height: 70px;
    }
    .pay-method-box .pay-method.focus{
        background: #D9F488;
        border-color: #999;
    }
    .form-box{
        background: #F7F7F7;
        padding: 20px;
        border-top: 1px dashed #ccc;
    }
</style>
<!-- row -->
<div class="row" ng-controller="PayMethodsCredentialsController">
    <!-- NEW WIDGET START -->
    <article class="col-sm-12 col-md-12 col-lg-12">

        <!-- Widget ID (each widget will need unique ID)-->
        <div class="jarviswidget" id="wid-id-0" data-widget-colorbutton="false" data-widget-editbutton="false">
            <!-- widget options:
            usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

            data-widget-colorbutton="false"
            data-widget-editbutton="false"
            data-widget-togglebutton="false"
            data-widget-deletebutton="false"
            data-widget-fullscreenbutton="false"
            data-widget-custombutton="false"
            data-widget-collapsed="true"
            data-widget-sortable="false"

            -->
            <header>
                <span class="widget-icon"> <i class="fa fa-eye"></i> </span>
                <h2>{[{ 'merchant.pay_methods.title' | translate }]}</h2>

            </header>

            <!-- widget div-->
            <div>

                <!-- widget edit box -->
                <div class="jarviswidget-editbox">
                    <!-- This area used as dropdown edit box -->

                </div>
                <!-- end widget edit box -->

                <!-- widget content -->
                <div class="widget-body">
                    <form class="form-horizontal">

                        <fieldset>
                            <legend>{[{ 'merchant.pay_methods.title' | translate }]}</legend>
                            <p class="newlines"></p>
                        </fieldset>
                    </form>

                    <div style="margin-bottom: 20px">
                        <p ng-bind-html="'merchant.pay_methods.desc' | translate |nl2br "></p>
                    </div>

                    <div class="pay-method-box">
                        <div class="pay-method" ng-click="payMethodSelected = 'adyen'" ng-class="{'focus': payMethodSelected == 'adyen', 'selected': adyen.valid}">
                            <img src="/bundles/app/client_admin/img/pay_methods_gateway/adyen.png">
                        </div>
                        <div class="pay-method" ng-click="payMethodSelected  = 'paypal'" ng-class="{'focus': payMethodSelected == 'paypal', 'selected': paypal.valid}">
                            <img src="/bundles/app/client_admin/img/pay_methods_gateway/paypal.png">
                        </div>
                        <div class="pay-method" ng-click="payMethodSelected  = 'neteller'" ng-class="{'focus': payMethodSelected == 'neteller', 'selected': neteller.valid}">
                            <img src="/bundles/app/client_admin/img/pay_methods_gateway/neteller.png">
                        </div>
                        <div class="pay-method" ng-click="payMethodSelected  = 'paysafecard'" ng-class="{'focus': payMethodSelected == 'paysafecard', 'selected': paysafecard.valid}">
                            <img src="/bundles/app/client_admin/img/pay_methods_gateway/paysafecard.png">
                        </div>
                        <div class="pay-method" ng-click="payMethodSelected  = 'g2apay'" ng-class="{'focus': payMethodSelected == 'g2apay', 'selected': g2apay.valid}">
                            <img src="/bundles/app/client_admin/img/pay_methods_gateway/g2apay.png">
                        </div>
                        <div class="pay-method" ng-click="payMethodSelected  = 'facebook'" ng-class="{'focus': payMethodSelected == 'facebook', 'selected': facebook.valid}">
                            <img src="/bundles/app/client_admin/img/pay_methods_gateway/facebook.png">
                        </div>
                        <div class="pay-method" ng-click="payMethodSelected  = 'steam'" ng-class="{'focus': payMethodSelected == 'steam', 'selected': steam.valid}">
                            <img src="/bundles/app/client_admin/img/pay_methods_gateway/steam.jpg">
                        </div>
                    </div>
                    <div class="form-box" ng-include="'/bundles/app/client_admin/views/merchant/pay-forms/form_adyen.html?v='+v" ng-if="payMethodSelected == 'adyen'" ></div>
                    <div class="form-box" ng-include="'/bundles/app/client_admin/views/merchant/pay-forms/form_paypal.html?v='+v" ng-if="payMethodSelected == 'paypal'" ></div>
                    <div class="form-box" ng-include="'/bundles/app/client_admin/views/merchant/pay-forms/form_neteller.html?v='+v" ng-if="payMethodSelected == 'neteller'" ></div>
                    <div class="form-box" ng-include="'/bundles/app/client_admin/views/merchant/pay-forms/form_paysafecard.html?v='+v" ng-if="payMethodSelected == 'paysafecard'" ></div>
                    <div class="form-box" ng-include="'/bundles/app/client_admin/views/merchant/pay-forms/form_g2apay.html?v='+v" ng-if="payMethodSelected == 'g2apay'" ></div>
                    <div class="form-box" ng-include="'/bundles/app/client_admin/views/merchant/pay-forms/form_facebook.html?v='+v" ng-if="payMethodSelected == 'facebook'" ></div>
                    <div class="form-box" ng-include="'/bundles/app/client_admin/views/merchant/pay-forms/form_steam.html?v='+v" ng-if="payMethodSelected == 'steam'" ></div>
                </div>
            </div>
        </div>
    </article>
</div>
