<div ng-controller="UserLevelsController" >
    <!-- widget grid -->
    <section id="widget-grid" >

        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-user-levels-2" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="glyphicon glyphicon-stats txt-color-darken"></i> </span>
                        <h2 data-translate="analitycs.user_levels.revenue_by_level"></h2>
                        <span class="widget-icon">
                            <i class="fa fa-info-circle" data-tooltip="{[{'analitycs.user_levels.revenue_by_level_tooltip' | translate}]}"></i>
                        </span>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- widget content -->
                        <div class="widget-body">

                            <div class="padding-10-v">
                                <div id="flotcontainer_user_levels_2" class="chart-large" style="height: 400px;"></div>
                            </div>

                        </div>
                    </div>
                </div>
            </article>
        </div>
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-6">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-user-levels-1" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-crosshairs"></i> </span>
                        <h2 data-translate="analitycs.user_levels.active_players"></h2>
                        <span class="widget-icon">
                            <i class="fa fa-info-circle" data-tooltip="{[{'analitycs.user_levels.active_players_tooltip' | translate}]}"></i>
                        </span>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- widget content -->
                        <div class="widget-body">

                            <div class="row">
                                <div class="padding-10-v">
                                    <div id="flotcontainer_user_levels_1" class="chart-large" style="height: 232px"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>

            <article class="col-sm-12 col-md-12 col-lg-6">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-user-levels-3" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="glyphicon glyphicon-stats txt-color-darken"></i> </span>
                        <h2 data-translate="analitycs.user_levels.unique_users"></h2>
                        <span class="widget-icon">
                            <i class="fa fa-info-circle" data-tooltip="{[{'analitycs.user_levels.unique_users_tooltip' | translate}]}"></i>
                        </span>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- widget content -->
                        <div class="widget-body">

                            <div class="padding-10-v">
                                <div id="flotcontainer_user_levels_3" class="chart-large" style="height: 232px;"></div>
                            </div>

                        </div>
                    </div>
                </div>
            </article>
        </div>

        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-6">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-user-levels-4" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="glyphicon glyphicon-stats txt-color-darken"></i> </span>
                        <h2 data-translate="analitycs.user_levels.frequency_title"></h2>
                        <span class="widget-icon">
                            <i class="fa fa-info-circle" data-tooltip="{[{'analitycs.user_levels.frequency_title_tooltip' | translate}]}"></i>
                        </span>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- widget content -->
                        <div class="widget-body">

                            <div class="padding-10-v">
                                <div id="flotcontainer_user_levels_4" class="chart-large" style="height: 232px;"></div>
                            </div>

                        </div>
                    </div>
                </div>
            </article>
            <article class="col-sm-12 col-md-12 col-lg-6">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-user-levels-5" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="glyphicon glyphicon-stats txt-color-darken"></i> </span>
                        <h2 data-translate="analitycs.user_levels.gamer_last_visit"></h2>
                        <span class="widget-icon">
                            <i class="fa fa-info-circle" data-tooltip="{[{'analitycs.user_levels.gamer_last_visit_tooltip' | translate}]}"></i>
                        </span>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- widget content -->
                        <div class="widget-body">

                            <div class="padding-10-v">
                                <div id="flotcontainer_user_levels_5" class="chart-large" style="height: 232px;"></div>
                            </div>

                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>

</div>
