
<a href="{{ admin.generateObjectUrl('log', object) }}" class="btn btn-sm btn-default edit_link" title="{{ 'action_edit'|trans({}, 'SonataAdminBundle') }}">
    <i class="glyphicon glyphicon-list-alt"></i>
    Log
</a>
