
<a href="{{ path('admin_app_bundle_Payment_list') }}?filter[paymentDetail__transaction__id][value]={{ object.id }}" class="btn btn-sm btn-default edit_link" title="{{ 'action_edit'|trans({}, 'SonataAdminBundle') }}">
    <i class="glyphicon glyphicon-euro"></i>
    Payments
</a>
