
<a href="{{ path('admin_app_bundle_Purchase_list') }}?filter[transaction][value]={{ object.id }}" class="btn btn-sm btn-default edit_link" title="{{ 'action_edit'|trans({}, 'SonataAdminBundle') }}">
    <i class="glyphicon glyphicon-euro"></i>
    Purchases
</a>
