<div id="pending-box" class="finished-box">

    <div class="text">
        <h2>{[{ 'pending.title' | translate }]}</h2>
        <span translate="pending.desc" translate-values="{[{ {reason: status.transaction.reason} }]}"></span>
    </div>

</div>