<!-- End Templates -->

<div ng-controller="CredentialsController">
    <div class="row">
        <div class="col-sm-12">
            <div class="well">
                <h1 data-translate="credentials.title"></h1>
                <p data-translate="credentials.description">

                </p>
                <p>
                    <table class="table table-bordered table-striped-inv" style="margin: 20px 0">
                        <tr><td data-translate="credentials.api_user"></td><td>{[{ credentials.user }]}</td></tr>
                        <tr><td data-translate="credentials.api_secret"></td><td>{[{ credentials.secret }]}</td></tr>
                    </table>
                </p>
                <p data-translate="credentials.bottom">

                </p>
            </div>
        </div>
    </div>

</div>
