<!-- PAGE FOOTER -->
<div class="row">
    <div class="col-xs-12 col-sm-6">
        <span class="txt-color-white">Wolopay © 2014-2015 <img src="/img/wolopay.gif" class="hidden-phone hidden-tablet" width="25" height="25"></span>
    </div>

    <div class="col-xs-6 col-sm-6 text-right hidden-xs">
        <div class="txt-color-white inline-block">
            <i class="txt-color-blueLight hidden-mobile"><span data-translate="last_account_activity"></span> <i class="fa fa-clock-o"></i>
                <strong>{{last_login_hours}} hours</strong>
            </i>
        </div>
    </div>
</div>
<!-- END PAGE FOOTER -->