<html>
    <head>
    </head>
    <body>

    <script>
        var initVars = {
            'apps': [{"id":"BERSER55881867912e0","name":"Berserk The Cataclysm","url_home_site":"http:\/\/berserk.idcgames.com\/","logo":{"img":"\/uploads\/media\/app\/0001\/01\/thumb_588_app_shop.png"},"url_notification_payment":"http:\/\/93.93.70.185:8980\/","url_notification_subscription":"http:\/\/93.93.70.185:8980\/","url_notification_new_gamer":"https:\/\/wolopay.com\/ClientsHelper\/IDCGames\/newGamerNotification","technical_email":"dmorillo@nviasms.com","has_virtual_currency_enabled":true,"can_customize_app_tabs":true,"active":true},{"id":"STOREM54d4d9c5c6446","name":"Store MVR","url_home_site":"http:\/\/www.storemvr.com","logo":{"img":"\/uploads\/media\/app\/0001\/01\/thumb_294_app_shop.png"},"url_notification_payment":"www.storemvr.com\/pago.php","url_notification_subscription":"www.storemvr.com\/pagoSus.php","url_notification_new_gamer":"","technical_email":"srey@nviasms.com","can_customize_app_tabs":true,"active":true},{"id":"TOROFU5490108c492f1","name":"Torofun","url_home_site":"http:\/\/torofun.idcgames.com","logo":{"img":"\/uploads\/media\/app\/0001\/01\/thumb_85_app_shop.png"},"url_notification_payment":"http:\/\/www.panelsms.com\/david\/test_in.php","has_virtual_currency_enabled":true,"can_customize_app_tabs":true,"active":false},{"id":"RAGNAR54b3a73bde47b","name":"Ragnarok","url_home_site":"http:\/\/ragnarok.idcgames.com","logo":{"img":"\/uploads\/media\/app\/0001\/01\/thumb_156_app_shop.jpeg"},"url_notification_payment":"http:\/\/www.idcgames.com\/ragnarok\/ws\/pago_wolo.php","url_notification_subscription":"http:\/\/www.idcgames.com\/ragnarok\/ws\/pago_wolo.php","url_notification_new_gamer":"https:\/\/wolopay.com\/ClientsHelper\/IDCGames\/newGamerNotification","owner_email":"mgarcia@nviasms.com","technical_email":"srey@nviasms.com","has_virtual_currency_enabled":true,"can_customize_app_tabs":true,"active":true},{"id":"JAGGED54818b1882966","name":"Jagged Alliance Online","url_home_site":"http:\/\/jagged.idcgames.com","logo":{"img":"\/uploads\/media\/app\/0001\/01\/thumb_79_app_shop.png"},"url_notification_payment":"http:\/\/www.jagged.es\/ws\/wolo_suma.php","url_notification_new_gamer":"https:\/\/wolopay.com\/ClientsHelper\/IDCGames\/newGamerNotification","owner_email":"mgarcia@nviasms.com","administration_email":"","technical_email":"srey@nviasms.com","end_user_support_email":"","has_virtual_currency_enabled":true,"can_customize_app_tabs":true,"active":true},{"id":"KORNER54b50d0fa755b","name":"Korner 5","url_home_site":"http:\/\/korner5.idcgames.com","logo":{"img":"\/uploads\/media\/app\/0001\/01\/thumb_163_app_shop.png"},"url_notification_payment":"https:\/\/korner5.idcgames.com\/ws\/callbackWolopayKorner5","url_notification_new_gamer":"https:\/\/wolopay.com\/ClientsHelper\/IDCGames\/newGamerNotification","technical_email":"srey@nviasms.com","has_virtual_currency_enabled":true,"can_customize_app_tabs":true,"active":true},{"id":"DEMO5464b32e3b8c8","name":"demo","url_home_site":"http:\/\/nviasms.com\/","logo":{"img":"\/uploads\/media\/app\/0001\/01\/thumb_15_app_shop.png"},"url_notification_payment":"https:\/\/wolopay.com\/pg_notification_to_app_test","technical_email":"dmorillo@nviasms.com","has_virtual_currency_enabled":true,"can_customize_app_tabs":true,"active":true},{"id":"TEST5527fbc60f802","name":"Test","url_home_site":"http:\/\/asdasd.com","logo":{"img":"\/uploads\/media\/app\/0001\/01\/thumb_516_app_shop.png"},"url_notification_payment":"http:\/\/asdasd.com","has_virtual_currency_enabled":true,"can_customize_app_tabs":true,"active":true},{"id":"SLOTS555b1a941b6e4","name":"Slots","url_home_site":"https:\/\/slots.idcgames.com","logo":{"img":"\/uploads\/media\/app\/0001\/01\/thumb_539_app_shop.png"},"url_notification_payment":"http:\/\/93.93.71.137:9999","url_notification_new_gamer":"https:\/\/wolopay.com\/ClientsHelper\/IDCGames\/newGamerNotification","owner_email":"mgarcia@nviasms.com","technical_email":"srey@nviasms.com","has_virtual_currency_enabled":true,"can_customize_app_tabs":true,"active":true},{"id":"PORTAL556432217d59e","name":"Portal IDCGames","url_home_site":"http:\/\/www.idcgames.com","logo":{"img":"\/uploads\/media\/app\/0001\/01\/thumb_541_app_shop.png"},"url_notification_payment":"https:\/\/www.idcgames.com\/ws\/callbackWolopay","url_notification_new_gamer":"https:\/\/wolopay.com\/ClientsHelper\/IDCGames\/newGamerNotification","owner_email":"mgarcia@nviasms.com","technical_email":"srey@nviasms.com","has_virtual_currency_enabled":true,"can_customize_app_tabs":true,"active":true},{"id":"KRONIX558005fe58953","name":"Cronix","url_home_site":"https:\/\/cronix.idcgames.com","logo":{"img":"\/uploads\/media\/app\/0001\/01\/thumb_579_app_shop.png"},"url_notification_payment":"https:\/\/cronix.idcgames.com\/ws\/callbackWolopay","url_notification_new_gamer":"https:\/\/wolopay.com\/ClientsHelper\/IDCGames\/newGamerNotification","technical_email":"srey@nviasms.com","has_virtual_currency_enabled":true,"can_customize_app_tabs":true,"active":true},{"id":"BATTLE55800c6f8d86c","name":"BattleSpace","url_home_site":"http:\/\/battlespace.idcgames.com","logo":{"img":"\/uploads\/media\/app\/0001\/01\/thumb_581_app_shop.png"},"url_notification_payment":"http:\/\/battlespace.idcgames.com\/callbackWolopayBattlespace","url_notification_subscription":"http:\/\/battlespace.idcgames.com\/callbackWolopayBattlespace","url_notification_new_gamer":"https:\/\/wolopay.com\/ClientsHelper\/IDCGames\/newGamerNotification","technical_email":"srey@nviasms.com","has_virtual_currency_enabled":true,"can_customize_app_tabs":true,"active":true},{"id":"ADSCHE55db3ca19673f","name":"Adschemist OLD","url_home_site":"http:\/\/www.adschemist.com","logo":{"img":"\/uploads\/media\/app\/0001\/02\/thumb_1037_app_shop.png"},"url_notification_payment":"http:\/\/www.adschemist.com","url_notification_subscription":"","owner_email":"ogarrido@adschemist.com","administration_email":"ogarrido@adschemist.com","technical_email":"jmlopez@nviasms.com","end_user_support_email":"","has_virtual_currency_enabled":false,"can_customize_app_tabs":true,"active":true},{"id":"ADSCHE56129f2656be6","name":"Adschemist","url_home_site":"http:\/\/www.adschemist.com","logo":{"img":"\/uploads\/media\/app\/0001\/02\/thumb_1122_app_shop.png"},"url_notification_payment":"http:\/\/www.adschemist.com","url_notification_subscription":"http:\/\/www.adschemist.com","url_notification_new_gamer":"","owner_email":"ogarrido@adschemist.com","administration_email":"ogarrido@adschemist.com","technical_email":"jmlopez@nviasms.com","end_user_support_email":"ogarrido@adschemist.com","has_virtual_currency_enabled":false,"can_customize_app_tabs":true,"active":true}],
            'currency': {"id":"EUR","name":"EURO","symbol":"\u20ac","exchange_rate_eur":1,"exchange_rate_usd":1.0982,"exchange_rate_gbp":0.7169,"decimal_places":2},
            'currencies': [{"id":"EUR","name":"EURO","symbol":"\u20ac","exchange_rate_eur":1,"exchange_rate_usd":1.0982,"exchange_rate_gbp":0.7169,"decimal_places":2},{"id":"GBP","name":"POUND_STERLING","symbol":"\u00a3","exchange_rate_eur":1.3951,"exchange_rate_usd":1.5321,"exchange_rate_gbp":1,"decimal_places":2},{"id":"USD","name":"DOLLAR","symbol":"$","exchange_rate_eur":0.9107,"exchange_rate_usd":1,"exchange_rate_gbp":0.6527,"decimal_places":2}],
            'dateFrom': new Date(1444946401000),
            'dateTo': new Date(1446245999000),
            tz: 'Europe/Madrid',
            'usernameId': '1',
            'languageDefault': {"id":"en","name":"English","local_name":"English"},
            'languages': [{"id":"ar","name":"Arabic","local_name":"\u0627\u0644\u0639\u0631\u0628\u064a\u0629"},{"id":"cs","name":"Czech","local_name":"\u010cesky"},{"id":"de","name":"German","local_name":"Deutsch"},{"id":"el","name":"Greek","local_name":"\u0395\u03bb\u03bb\u03b7\u03bd\u03b9\u03ba\u03ac"},{"id":"en","name":"English","local_name":"English"},{"id":"es","name":"Spanish","local_name":"Espa\u00f1ol"},{"id":"fr","name":"French","local_name":"Fran\u00e7ais"},{"id":"it","name":"Italian","local_name":"Italiano"},{"id":"ja","name":"Japanese","local_name":"\u65e5\u672c\u8a9e"},{"id":"ko","name":"Korean","local_name":"\ud55c\uad6d\uc5b4"},{"id":"pl","name":"Polish","local_name":"Polski"},{"id":"pt","name":"Portuguese","local_name":"Portugu\u00eas"},{"id":"ro","name":"Romanian","local_name":"Rom\u00e2n\u0103"},{"id":"ru","name":"Russian","local_name":"\u0420\u0443\u0441\u0441\u043a\u0438\u0439 \u044f\u0437\u044b\u043a"},{"id":"th","name":"Thai","local_name":"\u0e44\u0e17\u0e22"},{"id":"tr","name":"Turkish","local_name":"T\u00fcrk\u00e7e"},{"id":"vi","name":"Vietnamese","local_name":"Ti\u1ebfng Vi\u1ec7t"},{"id":"zh","name":"Chinese","local_name":"\u4e2d\u6587 "}],
            d: false,
            v: '20151029102340'
        };

        var CKEDITOR_BASEPATH = '/bower_components/ckeditor/';

    </script>

        <script src="/js_glob/jasmine-all-min.js"></script>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.0/ui-bootstrap-tpls.min.js"></script>

        {% javascripts
        'bower_components/angular-mocks/angular-mocks.js'
        'js_glob/highcharts_motion.js'
        'bower_components/ui-select/dist/select.min.js'
        'bower_components/ckeditor/ckeditor.js'
        'bower_components/angular-ckeditor/angular-ckeditor.min.js'

        'bower_components/ng-grid/build/ng-grid.min.js'
        'bower_components/angular-loading-bar/build/loading-bar.min.js'
        'bower_components/ngUpload/ng-upload.min.js'
        'bower_components/angular-ui-sortable/sortable.min.js'
        'bower_components/moment/min/moment.min.js'
        'js_glob/moment-timezone-with-data-2010-2020.min.js'
        'bower_components/angular-translate/angular-translate.min.js'
        'bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js'

        'js_glob/datetimepicker-tpls-0.11.js'
        'bower_components/angular-animate/angular-animate.min.js'

        'bundles/app/client_admin/js/app.config.js'
        'bundles/app/client_admin/js/plugin/jquery-touch/jquery.ui.touch-punch.min.js'
        'bundles/app/client_admin/js/bootstrap/bootstrap.min.js'
        'bundles/app/client_admin/js/notification/SmartNotification.min.js'
        'bundles/app/client_admin/js/smartwidgets/jarvis.widget.min.js'

        'bundles/app/client_admin/js/plugin/bootstrap-slider/bootstrap-slider.min.js'
        'bundles/app/client_admin/js/plugin/msie-fix/jquery.mb.browser.min.js'
        'bundles/app/client_admin/js/plugin/fastclick/fastclick.min.js'

        'bundles/app/client_admin/js/libs/angular/angular-route.js'
        'bundles/app/client_admin/js/libs/mgd/ui-utils.min.js'
        'bundles/app/client_admin/js/app.js'

        'bundles/app/client_admin/js/ng/ng.app.js'

        'bundles/app/client_admin/js/ng/ui_interpolate.js'
        'bundles/app/client_admin/js/ng/controller/*.js'
        'bundles/app/client_admin/js/ng/controller/*/*.js'
        'bundles/app/client_admin/js/ng/controller/*/*/*.js'
        'bundles/app/client_admin/js/ng/directive/*.js'
        'bundles/app/client_admin/js/ng/filters/*.js'
        'bundles/app/client_admin/js/ng/service/*.js'
        'bundles/app/client_admin/js/ng/ng.directives.js'

        'bundles/app/client_admin/js/ng/test/*.js'
        'bundles/app/client_admin/js/ng/test/*/*.js'
        'bundles/app/client_admin/js/ng/test/*/*/*.js'
        %}

            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    </body>
</html>