<div ng-controller="OfferSelectTimeController" >

    <form class="form-horizontal validation" name="form_time" novalidate ng-submit="form_time.$valid && ($root.offerCurrent.step = 5)">
        <fieldset>
            <legend>{[{ 'offer.step4.title' | translate }]}</legend>
            <div class="form-group">

                <div class="row">
                    <div class="col-md-10 col-md-offset-1" >
                        <div class="row">
                            <div>
                                <div style="display: inline-block;margin-right: 100px">
                                    <h3 class="text-center">{[{ 'offer.offer_from' | translate }]}</h3>
                                    <datetimepicker required max-date="$root.offerCurrent.offer_to"  show-weeks="false" hour-step="1" minute-step="15" ng-model="$root.offerCurrent.offer_from" show-meridian="false" date-format="dd-MMM-yyyy" readonly-time="false" ></datetimepicker>
                                </div>

                                <div style="display: inline-block;">
                                    <h3 class="text-center">{[{ 'offer.offer_to' | translate }]}</h3>
                                    <datetimepicker required min-date="$root.offerCurrent.offer_from" show-weeks="false" hour-step="1" minute-step="15" ng-model="$root.offerCurrent.offer_to" show-meridian="false" date-format="dd-MMM-yyyy" readonly-time="false"></datetimepicker>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            
                            <label style="display: block;">
                                <input type="radio" name="offer_time_type" ng-model="$root.offerCurrent.local_time" value="utc" ng-value="false">
                                <span>{[{ 'offer.step4.time_local_utc_desc' | translate }]}</span>
                            </label>

                            <label style="display: block;">
                                <input type="radio" name="offer_time_type" ng-model="$root.offerCurrent.local_time" value="local" ng-value="true">
                                <span>{[{ 'offer.step4.time_local_not_utc_desc' | translate }]}</span>
                            </label>
                        </div>

                        <div style="margin-top: 20px">
                            <button type="submit" ng-disabled="form_time.$invalid" class="btn btn-info btn-lg" style="padding: 6px 50px">{[{ 'next' | translate }]} <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></button>
                        </div>
                    </div>

                </div>
            </div>
        </fieldset>
    </form>
</div>