{# object \AppBundle\Entity\ClientUser #}
<a href="{{ path('admin_app_bundle_ClientUser_create', {'copy_id': object.id}) }}" class="btn btn-sm btn-default edit_link" title="{{ 'action_edit'|trans({}, 'SonataAdminBundle') }}">
    <i class="fa fa-copy"></i>
    Copy
</a>
