<p class="tuple">
    <input type="text" class="key" placeholder="Key" value="Accept-Language" />
    <span>=</span>
    <input type="text" class="value" placeholder="Value" value="en" /> <span class="remove">-</span>
</p>