{% extends "@App/AppShop/layout_secondary.html.twig" %}
{% block title %}Demo{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .form-group{
            margin-bottom: 7px;
        }
    </style>
{% endblock %}

{% block page %}
    <form id="demo_form" method="post" action="" role="form" target="_blank">

        {{ form_widget(form) }}

        <div class="row">
            <div class="form-group col-md-12 text-right" >
                <button type="submit" class="btn btn-primary btn-lg" onclick="sendMobile()"><span class="glyphicon glyphicon-phone"></span> Mobile</button>
                <button type="submit" class="btn btn-primary btn-lg" onclick="sendTablet()"><span class="glyphicon glyphicon-resize-horizontal"></span> Tablet</button>
                <button type="submit" class="btn btn-primary btn-lg" onclick="sendPc()"><span class="glyphicon glyphicon-fullscreen"></span> Computer</button>
            </div>
        </div>
    {{ form_end(form) }}
    <script>
        var winRef;

        function loadWindow(width, height, id)
        {
//            if (!winRef || winRef.close)
//                winRef = window.open("", "pay_demo", "height="+height+",width="+width);
//            else{
//                winRef.resizeTo(width, height);
//                winRef.focus()
//            }

            winRef = window.open("", id, "height="+height+",width="+width);
        }

        function sendMobile()
        {
            var id="pay_demo"+Math.floor((Math.random() * 10000) + 1);
            $('#demo_form').attr("target", id);
            loadWindow(375, 667, id);
        }
        function sendTablet()
        {
            var id="pay_demo"+Math.floor((Math.random() * 10000) + 1);
            $('#demo_form').attr("target", id);
            loadWindow(768, 1024, id);
        }
        function sendPc()
        {
            $('#demo_form').attr("target", "_blank");
        }
    </script>
{% endblock %}