<style>
    .separator-date td{
        border-top: 1px dashed #aaa !important;
    }
</style>
<!-- row -->

<div ng-controller="DocumentsController">
    <div style="margin-bottom: 20px">
        <p ng-bind-html="'merchant.documents.desc' | translate | nl2br "></p>
    </div>

    <table class="table table-hover table-striped-inv table-bordered" style="margin-bottom: 20px">
        <thead>
        <tr>
            <td colspan="100%">
                <div class="btn-group">
                    <input type="button" ng-repeat="year in yearsAvailable" class="btn btn-ln btn-default" ng-class="{selected: year == currentYear}" value="{[{ year }]}" ng-click="onChangeCurrentYear(year)">
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="100%">
                <input ng-model-options="{debounce: 100}" ng-model="searchText.$" data-translate="search" class="form-control">
            </td>
        </tr>
        <tr>
            <th data-translate="date"></th>
            <th data-translate="title"></th>
            <th data-translate="file"></th>
        </tr>
        </thead>
        <tbody>
            <tr ng-repeat="document in documents | filter:searchText">
                <td>{[{ document.created_at | date }]}</td>
                <td>{[{ document.title }]}</td>
                <td>
                    <a href="{[{ document.document.img }]}" download>
                        <img src="/img/icons/file_20-20.png" style="cursor: pointer;">
                    </a>
                </td>
            </tr>
            <tr>
                <td colspan="100%">
                    <div ng-if="documents.length == 0">
                        <div class="alert alert-warning">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {[{ 'no_data' | translate }]}
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
