{% extends "AppBundle:Others/Default/LegalNotice:legal_notice_layout.html.twig" %}
{% block title %}Legal Notice{% endblock %}
{% block page %}

    <h1>LEGAL NOTICE</h1>

    This website is owned and managed by Wolopay, SL, whose address, registration details and tax number are the following:
    <br><br>
    <ul>
        <li>Business address: Comandante Zorita nº 4, entreplanta of Madrid (CP 28020), Spain</li>
        <li>E-mail address: info@wolopay.com</li>
        <li>Registration details: Commercial Registry of Madrid (Tomo 33535, Sección 8, Folio 72, Hoja M-603647)</li>
        <li>Tax Number: ES B-87282299</li>
    </ul>
    <br>
    All elements of this website, including designs, text, images and source code are protected by intellectual property rights of international scope. None of them, jointly or individually, may be reproduced, distributed, publicly communicated or transformed in any way without explicit permission from the owner.<br><br>
    Through this website you may be able to link to other websites which are not under the control of Wolopay. Wolopay has no control over the nature, content and availability of those sites. The inclusion of any links does not necessarily imply a recommendation or endorse the views expressed within them.<br><br>
    In no event will Wolopay be liable for any loss or damage including without limitation, indirect or consequential loss or damage, or any loss or damage whatsoever arising from loss of data or profits arising out of, or in connection with, the use of this website.<br><br>
    Every effort is made to keep this website up and running smoothly. However, Wolopay takes no responsibility for, and will not be liable for, the website being temporarily unavailable due to technical issues beyond our control.<br><br>

{% endblock %}