// import default vars
@import "../default_1_vars_ini";

// override default vars
@THEME_FOLDER: "default";
@TUTORIAL_BOX_BACKGROUND: rgba(0,0,0,0.8);

// get final vars, concatenate vars
@import "../default_2_vars_second";

// get default css
@import "../default_3_style";

@import "../default_chosen";
@import "../default_animation";

// If you want override css below

@font-face {
    font-family: ~"@{FONT}";
    src: url('@{FILES_PATH}/fonts/Vera-webfont.eot');
    src: url('@{FILES_PATH}/fonts/Vera-webfont.eot?#iefix') format('embedded-opentype'),
    url('@{FILES_PATH}/fonts/Vera-webfont.woff') format('woff'),
    url('@{FILES_PATH}/fonts/Vera-webfont.ttf') format('truetype'),
    url('@{FILES_PATH}/fonts/Vera-webfont.svg#bitstream_vera_sansroman') format('svg');
    font-weight: normal;
    font-style: normal;
}

