<a href="{{ path('admin_app_bundle_Article_import_csv', {'appId': object.id}) }}" class="btn btn-sm btn-default edit_link" title="{{ 'action_edit'|trans({}, 'SonataAdminBundle') }}">
    <i class="glyphicon glyphicon-hdd"></i>
    Import Articles
</a>
