
<a href="{{ path('admin_app_bundle_Article_create', {'appId' : object.id}) }}" class="btn btn-sm btn-default edit_link" title="{{ 'action_edit'|trans({}, 'SonataAdminBundle') }}">
    <i class="glyphicon glyphicon-list-alt"></i>
    Add Article
</a>
