<a href="{{ path('admin_app_bundle_Article_create', {'copy': object.id}) }}" class="btn btn-sm btn-default edit_link" title="{{ 'action_edit'|trans({}, 'SonataAdminBundle') }}">
    <i class="glyphicon glyphicon-log-in"></i>
    Copy Article
</a>
