{% extends "::base_bootstrap.html.twig" %}
{% block title %}{% endblock %}
{% block page_container %}
    <div class="container voffset3">
        {% block legal_txt '' %}
    </div>
    <div class="voffset3"></div>
{% endblock %}