
    <div data-ng-controller="ActionsCtrl" ng-class="{'has-mouse': device.hasMouse }" class="wolo-container background font" >
    <div class="ready" style="visibility: hidden">
        
    <div data-ng-controller="PayMethodsFixedAmountCtrl" data-ng-if="current.state == 'select_pay_method_fixed_amount'" class=" box-window-container" >
        <div data-ng-if="selectSayMethodFixedAmount" >
            <div class="box-window-background"></div>
            <div id="sms-operator" class="box-window"  >
                <div class="container">
                    <div class="close" data-ng-click="close()"></div>
                    <h3>{[{ 'sms.select_operator.title' | translate }]}</h3>

                    <div class="content">
                        <div class="list">
                            <div ng-class="{'selected': current.payMethodFixedAmount.id == payMethodFixed.id }" data-ng-repeat="payMethodFixed in current.payMethodFixedAmounts" ng-click="selectPayMethodFixed(payMethodFixed)">
                                <img id="sms-operator-{[{ payMethodFixed.operator.short_name }]}" src="http://sym2_pay_gateway.dev/img/1x1.png?1" ng-src="{[{ asset(payMethodFixed.operator.img) }]}" alt="{[{payMethodFixed.operator.name}]}"  >
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div  data-ng-if="current.inProvider==true" class=" box-window-container" >

        <div class="box-window-background"></div>
        <div id="waiting-payment" class="box-window " >
            <div class="container">
                <div class="close" data-ng-click="current.inProvider=false" ></div>
                <h3>{[{ 'waiting_payment_confirmation' | translate }]}</h3>
                <div style="margin: 40px 0 50px; ">
                    <div style="font-size: 1.4em">{[{ 'waiting_payment_confirmation_desc' | translate }]}</div>
                    <div style="text-align: center; margin-top: 30px; background: #fff; border: 2px solid #000;border-radius: 100px; display: inline-block;">
                        <img src="http://sym2_pay_gateway.dev/img/wolopay.gif?1">
                    </div>

                </div>
            </div>
        </div>

    </div>


    <div data-ng-controller="FeedbackCtrl" class=" "  >
        <div data-ng-if="feedback" class="box-window-container">
            <div class="box-window-background"></div>
            <div id="feedback" class="box-window" >

                <div class="container">
                    <div class="close" data-ng-click="$root.feedback = false" ></div>
                    <h3>{[{ 'feedback.title_window' | translate }]}</h3>
                    <div class="content">
                        <form ng-submit="send()">
                            <h4 style="margin-top: 10px">{[{ 'feedback.select_a_main_problem' | translate }]}</h4>
                            <table>
                                <tr data-ng-repeat="reason in reasonTypes">
                                    <td><img ng-src="{[{ '/bundles/app/app_shop/img/icons/feedback/' + reason.img }]}"> <input type="radio" id="reason_type_{[{reason.id}]}" required name="reason_type" ng-model="$parent.$parent.reasonType" ng-value="reason"></td>
                                    <td><label for="reason_type_{[{reason.id}]}"> {[{ 'feedback.options.'+reason.id | translate }]}</label> </td>
                                </tr>
                            </table>

                            <div ng-if="reasonType.id == 'it_crash_on_pay'">
                                <h4>{[{ 'feedback.select_the_pay_method_u_will_pay' | translate }]}</h4>
                                <div data-ng-repeat="filterByTabs in payMethods | unique:'tab_category'">

                                    <h5>{[{ filterByTabs.tab_category.name }]}</h5>
                                    <span data-ng-repeat="pm in payMethods | unique:'id' | filter: { tab_category: filterByTabs.tab_category }">
                                        <input type="checkbox" ng-model="pm.active">
                                        <img ng-src="{[{asset(pm.img)}]}" width="50" height="30" ng-click="pm.active=true">
                                    </span>

                                </div>
                            </div>

                            <div ng-if="reasonType.id == 'i_didnt_found_a_valid_payment_method'">
                                <h4>{[{ 'feedback.pay_method_u_will_pay' | translate }]}</h4>
                                <textarea ng-model="$parent.$parent.pay_method_u_will_be_paid">{[{reasonType.id}]}</textarea>
                            </div>

                            <div>
                                <h4>{[{ 'feedback.suggestion' | translate }]}</h4>
                                <textarea ng-model="$parent.suggestion"></textarea>
                            </div>
                            <button type="submit">{[{ 'feedback.send' | translate }]}</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div data-ng-if="current.state == 'write_a_valid_code'"   data-ng-controller="PromoCodeCtrl" class="box-window-container">
        <div class="box-window-background"></div>
        <div id="promo-code" class="box-window fade " >
            <div class="container">
                <div class="close" data-ng-click="close()"></div>
                <h3>{[{ 'promo_code.title' | translate }]}</h3>

                <div class="content">
                    <form ng-submit="submit()">
                        <input type="text" id="promo-code-input" ng-model="code" placeholder="{[{ 'promo_code.title' | translate }]}"> <input type="submit" value="{[{ 'promo_code.submit' | translate }]}">
                    </form>
                    <div ng-if="current.code">
                                                                    </div>
                </div>
            </div>
        </div>
    </div>


    <div data-ng-if="current.tutorialEnabled" class="fade "   data-ng-controller="TutorialCtrl">
        <div id="arrow-box">
            <img id="arrow" src="http://sym2_pay_gateway.dev/img/1x1.png?1" >
            <div>{[{ text | translate : '{code : current.tutorialPromoCode}' }]}</div>
        </div>
    </div>


        <div class="tooltip "  id="tooltip" >
            <div class="tooltip-content"></div>
        </div>
        <div id="msg-container" data-ng-controller="MessagesCtrl" class=""  >
            <div data-ng-repeat="error in errors" class="error fade">
                <img src="http://sym2_pay_gateway.dev/img/1x1.png?1"  ng-click="removeError(error)">
                {[{ error.msg | translate }]}
            </div>
            <div data-ng-repeat="info in infos" class="info fade">
                <img src="http://sym2_pay_gateway.dev/img/1x1.png?1" ng-click="removeInfo(error)">
                {[{ info.msg | translate }]}
            </div>
            <div data-ng-repeat="warning in warnings" class="warning fade">
                <img src="http://sym2_pay_gateway.dev/img/1x1.png?1" ng-click="removeWarning(error)">
                {[{ warning.msg | translate }]}
            </div>
        </div>

        <div class="header" id="header"></div>

        <div id="wrapper" ng-cloak>
            <div id="iframe-box">
                <div id="iframe-overlay">
                    <img src="http://sym2_pay_gateway.dev/img/wolopay.gif?1" width="100" height="100">
                    <span>&spades; Loading &spades;</span>
                </div>
                <iframe id="iframe" src="" wmode="transparent"></iframe>

                <div class="top">
                    <div class="center"></div>
                    <div class="left"><img src="http://sym2_pay_gateway.dev/img/1x1.png?1" ></div>
                    <div class="right"><img src="http://sym2_pay_gateway.dev/img/1x1.png?1" ></div>
                    <div class="close"><img src="http://sym2_pay_gateway.dev/img/1x1.png?1"  ng-click="closeIframe()"></div>
                </div>
                <div id="iframe-box-content" >
                    <div class="side-left"><div></div></div>
                    <div class="side-right"><div></div></div>
                </div>
                <div class="bottom">
                    <div class="center"></div>
                    <div class="left"><img src="http://sym2_pay_gateway.dev/img/1x1.png?1" ></div>
                    <div class="right"><img src="http://sym2_pay_gateway.dev/img/1x1.png?1" ></div>
                </div>

            </div>

            <div id="tab-menu" data-ng-controller="MenuListCtrl">
                <div id="top-options">
                        <div class="tab-mock countries" ng-if="!current.fixedCountry" >

        <select id="input-country" ng-model="current.country" data-ng-change="changeCountry()" chosen ng-options="country.local_name for country in current.countries track by country.id" style="width: 100%;">
        </select>

    </div>


                    <div class="tab-mock languages" ng-if="!$root.options.fixedLanguage">

                        <select id="input-language" ng-model="current.language" data-ng-change="switchLanguage()" chosen ng-options="language.local_name for language in current.languages track by language.id">
                        </select>

                    </div>
                </div>

                    <div class="article-tab" data-ng-controller="ArticleTabCtrl">
        <div id="cat-{[{articleTab.app_tab.name_unique}]}" class="tab" data-ng-repeat="articleTab in current.articleTabs" ng-class="current.articleTab.id == articleTab.id ? 'tab-on' : 'tab-off'" data-ng-click="switchArticleTab(articleTab)">
            <span ng-if="($root.isModule || (!$root.isModule && !articleTab.app_tab.image.img )) && articleTab.app_tab.name_label.key">
                {[{ articleTab.app_tab.name_label.key | translate }]}
            </span>
            <img class="tab-icon" src="http://sym2_pay_gateway.dev/img/1x1.png?1" ng-src="{[{ asset(articleTab.app_tab.image.img) }]}" ng-if="articleTab.app_tab.image"/>
            <div ng-if="articleTab.app_tab.description_label.key">
                <div tooltip class="tooltip">
                    <span translate="{[{ articleTab.app_tab.description_label.key }]}"></span>
                </div>
            </div>
        </div>

    </div>


            </div>

            <div id="container-main">
                <div data-ng-controller="TransactionStatusCtrl">
                    <div ng-include="asset('/bundles/app/app_shop/js/views/partials/gacha_animations/gacha_box.html')"></div>
                    <div id="completed-box" class="finished-box">

    <div>

        <div class="text">
            <h2>{[{ 'completed.title' | translate }]}</h2>

            {[{ 'completed.desc' | translate }]}
        </div>

        <table>
            <tbody>
                <tr>
                    <th>{[{ 'completed.game_web' | translate }]}:</th>
                    <td>{[{ options.app.url_home_site }]}</td>

                    <th>{[{ 'completed.ip' | translate }]}:</th>
                    <td>{[{ status.payment_process.ip }]}</td>
                </tr>
                <tr>
                    <th>{[{ 'completed.merchant' | translate }]}:</th>
                    <td>{[{ options.app.name }]}</td>

                    <th>{[{ 'completed.transaction_id' | translate }]}:</th>
                    <td>{[{ options.transactionId }]}</td>
                </tr>

                <tr>
                    <th>{[{ 'completed.payment_status' | translate }]}:</th>
                    <td>{[{ text.payment_status | translate }]}</td>
                    <th></th>
                    <td></td>
                </tr>
                <tr>
                    <th>{[{ 'completed.payment_type' | translate }]}:</th>
                    <td>{[{ text.payment_type | translate }]}</td>

                    <th>{[{ 'completed.provider' | translate }]}:</th>
                    <td>{[{ status.payment_process.payment_detail.pay_method.name }]}</td>

                </tr>
                <tr>

                    <th>{[{ 'completed.product' | translate }]}:</th>
                    <td>
                        <ul>
                            <li ng-repeat="articlePurchased in status.payment_process.payment_detail.payment_detail_has_articles ">
                                <b translate="units" translate-values="{[{ {units: (articlePurchased.articles_quantity) } }]}"></b>
                                <span translate="{[{ articlePurchased.name.key }]}" translate-values="{[{ {number : articlePurchased.items_quantity} }]}"></span>
                            </li>
                        </ul>
                    </td>
                    <th></th>
                    <td></td>
                </tr>
            </tbody>
            <tr class="price">
                <th> </th>
                <td> </td>
                <th>{[{ 'completed.amount' | translate }]}:</th>
                <td class="total">{[{ status.payment_process.payment_detail.amount }]} {[{ status.payment_process.payment_detail.currency.symbol }]}</td>

            </tr>
        </table>

    </div>
    <div id="imgs-related-box">

        <img src="http://sym2_pay_gateway.dev/img/1x1.png?1" ng-src="{[{ asset( status.payment_process.payment_detail.pay_method.img, false) }]}" style="float: right">
        <img src="http://sym2_pay_gateway.dev/img/1x1.png?1" ng-src="{[{ asset( options.app.logo.img, false) }]}" style="float: left">

    </div>


</div>
                    <div id="expired-box" class="finished-box">

    <div class="text">
        <h2>{[{ 'expired.title' | translate }]}</h2>

        {[{ 'expired.desc' | translate }]}
    </div>

</div>
                    <div id="pending-box" class="finished-box">

    <div class="text">
        <h2>{[{ 'pending.title' | translate }]}</h2>
        <span translate="pending.desc" translate-values="{[{ {reason: status.transaction.reason} }]}"></span>
    </div>

</div>
                </div>

                
    <div class="section" id="section_1">
        <div class="section-custom">
            <div class="section-products-paymethods">
                <div class="before-first">
                    <div class="left"></div>
                    <div class="rigth"></div>
                </div>
                <div ng-if="firstPayMethods" style="">
                    <div ng-include="asset('/bundles/app/app_shop/js/views/partials/custom/' + ($root.options.templatePayMethods || '../pay_methods_list.html') )"></div>
                    <div class="before-second"><div class="left"></div><div class="right"></div></div>
                    <div ng-include="asset('/bundles/app/app_shop/js/views/partials/custom/' + ($root.options.templateProducts || '../products_list.html'))"></div>
                </div>

                <div ng-if="!firstPayMethods">
                    <div ng-include="asset('/bundles/app/app_shop/js/views/partials/custom/' + ($root.options.templateProducts || '../products_list.html'))"></div>
                    <div class="before-second"><div class="left"></div><div class="right"></div></div>
                    <div ng-include="asset('/bundles/app/app_shop/js/views/partials/custom/'+ ($root.options.templatePayMethods || '../pay_methods_list.html'))"></div>
                </div>
                <div class="before-register">
                    <div class="left"></div>
                    <div class="rigth"></div>
                </div>
            </div>

            <div class="register-cash" data-ng-controller="RegisterCashCtrl">

                <div class="box-product-selected">
                    <div class="product-selected" data-ng-if="$root.current.real_cart_price.articles_quantity > 0 && current.articlePMPCA">
                        <div>
                            <span id="total_amount">{[{ $root.current.real_cart_price.amount | currency : $root.current.real_cart_price.currency.symbol : $root.current.real_cart_price.currency.decimal_places }]}</span>  <span class="currency_id">({[{ $root.current.real_cart_price.currency.id }]})</span>
                        </div>
                    </div>
                    <div class="product-selected" data-ng-if="current.appShopHasArticle != null  && current.articlePMPCA != null">
                        <div data-ng-if="current.appShopHasArticle.amount !== null && current.appShopHasArticle.amount_range == null && !current.articlePMPCA.temp_force_price">
                            <span id="total_amount">{[{ current.appShopHasArticle.amount | currency : current.appShopHasArticle.local_currency.symbol : current.appShopHasArticle.local_currency.decimal_places }]}</span>  <span class="currency_id">({[{ current.appShopHasArticle.local_currency.id }]})</span>
                            <span ng-include="asset('/bundles/app/app_shop/js/views/partials/article_periodicity.html')" ng-init="separator=true; periodicity = current.appShopHasArticle.article.periodicity"></span>
                        </div>
                        <div data-ng-if="current.appShopHasArticle.amount === null && current.articlePMPCA.voice.amount != null && !current.articlePMPCA.temp_force_price ">
                            <span id="total_amount">{[{ current.articlePMPCA.voice.amount | currency : current.appShopHasArticle.local_currency.symbol : current.appShopHasArticle.local_currency.decimal_places }]}</span>  <span class="currency_id">({[{ current.appShopHasArticle.local_currency.id }]})</span>
                            <span ng-include="asset('/bundles/app/app_shop/js/views/partials/article_periodicity.html')" ng-init="separator=true; periodicity = current.appShopHasArticle.article.periodicity"></span>
                        </div>
                        <div data-ng-if="current.appShopHasArticle.amount_range && current.payMethodFixedAmount == null && current.articlePMPCA.pay_category.id == 'mobile' && !current.articlePMPCA.temp_force_price ">
                            <span id="total_amount">{[{ current.appShopHasArticle.amount_range.min | number }]} - {[{ current.appShopHasArticle.amount_range.max | number }]} </span> {[{ current.appShopHasArticle.local_currency.symbol }]} <span class="currency_id">({[{ current.appShopHasArticle.local_currency.id }]})</span>
                        </div>
                        <div data-ng-if="current.appShopHasArticle.amount_range && current.payMethodFixedAmount != null && current.articlePMPCA.pay_category.id == 'mobile' && !current.articlePMPCA.temp_force_price ">
                            <span id="total_amount">{[{ current.payMethodFixedAmount.amount | currency : appShopHasArticle.local_currency.symbol : current.appShopHasArticle.local_currency.decimal_places }]}</span>  <span class="currency_id">({[{ current.appShopHasArticle.local_currency.id }]})</span>
                        </div>
                                                <div data-ng-if="current.articlePMPCA.temp_force_price">
                            <span id="total_amount">{[{ current.articlePMPCA.temp_force_price | currency : current.appShopHasArticle.local_currency.symbol : current.appShopHasArticle.local_currency.decimal_places}]}</span>  <span class="currency_id">({[{ current.appShopHasArticle.local_currency.id }]})</span>
                            <span ng-include="asset('/bundles/app/app_shop/js/views/partials/article_periodicity.html')" ng-init="separator=true; periodicity = current.appShopHasArticle.article.periodicity"></span>
                        </div>
                        <div data-ng-if="!current.articlePMPCA.temp_force_price && current.appShopHasArticle.amount_range && current.articlePMPCA.pay_category.id != 'mobile'">
                            <span id="total_amount" ng-if="current.appShopHasArticle.offer.amount">{[{ current.appShopHasArticle.offer.amount | currency : current.appShopHasArticle.local_currency.symbol : current.appShopHasArticle.local_currency.decimal_places }]}</span>
                            <span id="total_amount" ng-if="!current.appShopHasArticle.offer.amount">{[{ current.appShopHasArticle.current_amount_without_offer | currency : current.appShopHasArticle.local_currency.symbol : current.appShopHasArticle.local_currency.decimal_places}]}</span>
                            <span class="currency_id">({[{ current.appShopHasArticle.local_currency.id }]})</span>
                        </div>
                    </div>

                    <div class="product-selected" data-ng-if="(current.appShopHasArticle != null || current.cart.length > 0) && current.articlePMPCA == null">
                        {[{ 'select_paymethod' | translate }]}
                    </div>
                    <div class="product-selected" data-ng-if="current.appShopHasArticle == null && current.cart.length == 0">
                        {[{ 'select_article' | translate }]}
                    </div>
                </div>
                <div id="button-actions">
                    <div class="left">
                        <div class="cart" ng-if="$root.hasCart">
                            <span><b>{[{ $root.current.real_cart_price.articles_quantity || '0' }]}</b></span>
                            <img src="http://sym2_pay_gateway.dev/img/1x1.png?1" ng-click="$root.cartOpen = true">
                        </div>
                        <div class="cart-summary" ng-controller="ShoppingCartCtrl" ng-if="cartOpen">
                            <div class="close" data-ng-click="$root.cartOpen = false"></div>
                            <div ng-if="current.cart.length <= 0" style="text-align: center">
                                <span translate="cart.empty"></span>
                            </div>
                            <div ng-if="$root.hasCart && $root.current.cart.length > 0">
                                <h2 translate="cart.title"></h2>
                                <table>
                                    <tbody>
                                    <tr ng-repeat="paymentDetailHasArticle in $root.current.real_cart_price.payment_detail_has_articles">
                                        <td class="count" translate="units" translate-values="{[{ {units: (paymentDetailHasArticle.articles_quantity) } }]}"></td>
                                        <td class="num">{[{ paymentDetailHasArticle.amount | currency : $root.current.real_cart_price.currency.symbol : $root.current.real_cart_price.currency.decimal_places }]}</td>
                                        <td>
                                            <span class="plus" ng-if="addCartVisible(getAppShopHasArticleFromCart(paymentDetailHasArticle.id))" ng-click="addCart(getAppShopHasArticleFromCart(paymentDetailHasArticle.id), $event)">+</span>
                                            <span class="minus" ng-click="removeCart(getAppShopHasArticleFromCart(paymentDetailHasArticle.id), $event)">-</span>
                                        </td>

                                        <td>
                                            <span translate="{[{(getAppShopHasArticleFromCart(paymentDetailHasArticle.id)).name_label.key}]}" translate-values="{[{ {number: (paymentDetailHasArticle.items_quantity | number) } }]}"></span>
                                            <span ng-if="!(getAppShopHasArticleFromCart(paymentDetailHasArticle.id)).name_label.key" translate="{[{ paymentDetailHasArticle.name_label.key }]}" translate-values="{[{ {number: (paymentDetailHasArticle.items_quantity | number) } }]}"></span>
                                        </td>
                                        <td class="num">+ {[{ (paymentDetailHasArticle.amount * paymentDetailHasArticle.articles_quantity) | currency : $root.current.real_cart_price.currency.symbol : $root.current.real_cart_price.currency.decimal_places }]}</td>

                                    </tr>

                                    <tr ng-repeat="extraCost in $root.current.real_cart_price.payment_detail_extra_costs">
                                        <td colspan="3"></td>
                                        <td style="padding: 10px 4px">{[{ extraCost.name }]}</td>
                                        <td class="num">+ {[{ extraCost.amount | currency: extraCost.currency.symbol : extraCost.currency.decimal_places }]}</td>
                                    </tr>

                                    </tbody>
                                    <tfoot>
                                    <tr>

                                        <td colspan="4" class="clear-cart">
                                            <button type="button" translate="cart.clear" ng-click="clearCart()"></button>
                                        </td>

                                        <td class="total num">
                                            {[{ $root.current.real_cart_price.amount | currency : $root.current.real_cart_price.currency.symbol : $root.current.real_cart_price.currency.decimal_places }]}</span>
                                        </td>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="mid" ng-class="{'disabled': current.state!='ready_to_buy', 'continue': current.state=='ready_to_buy' }">
                        <div class="pay-button" ng-click="buy()" >
                            <div class="pay-button-text">{[{ 'continue' | translate }]}</div>
                        </div>
                    </div>
                    <div class="right">

                    </div>
                </div>
            </div>
        </div>
    </div>


            </div>
            <div id="footer" data-ng-controller="FooterCtrl">
                <ul>
                    <li ng-click="legalTerms()">{[{ 'footer.legal_terms' | translate }]}</li>
                    <li ng-click="askCenter()">{[{ 'footer.support_center' | translate }]}</li>
                    <li ng-click="faq()">{[{ 'footer.faq' | translate }]}</li>
                        <li ng-if="$root.current.state !== 'completed'" data-ng-click="current.tutorialEnabled = !current.tutorialEnabled ">{[{ 'footer.tutorial' | translate }]}</li>
    <li data-ng-click="$root.feedback = !$root.feedback">{[{ 'footer.feedback' | translate }]}</li>
    <li id="coupon_code" ng-if="$root.current.state !== 'completed'" data-ng-click="current.state = 'write_a_valid_code'">{[{ 'footer.promo_code' | translate }]}</li>

                    <li ng-click="gamerUpdateData()" class="user"><img src="http://sym2_pay_gateway.dev/bundles/app/app_shop/img/gamer.png?1"></li>
                </ul>
                <div><img src="http://sym2_pay_gateway.dev/bundles/app/app_shop/img/icon_rapidssl.gif?1" width="90" height="50"></div>
            </div>
        </div>
    </div>
</div>

