<form class="validation" name="form_g2apay_credentials" ng-submit="submit('G2A', providers.g2a)">

    <div ng-repeat="credential in providers.g2a" ng-include="'form_g2a.html'">
    </div>

    <button type="submit" ng-disabled="form_g2apay_credentials.$invalid" class="btn btn-info btn-lg" style="padding: 6px 50px">{[{ 'save' | translate }]} <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></button>

</form>
<!--MODAL WINDOW-->
<script type="text/ng-template" id="form_g2a.html">
    <div class="form-group">
        <label translate="merchant.pay_methods.forms.apps"></label>
        <ui-select multiple name="app_mod_{[{credential.$$hashKey}]}" ng-model="credential.apps" theme="select2" style="width: 100%;" ui-validate="{appsRepeated: 'isValidAppsFromProvider(providers.g2a)', appsNullRepeated: 'isValidAppsFromProviderNull(providers.g2a)'}"  >
            <ui-select-match>
                <div>{[{ $item.name }]}</div>
            </ui-select-match>
            <ui-select-choices repeat="app in apps | filter: {$: $select.search}">
                <div>{[{ app.name }]}</div>
            </ui-select-choices>
        </ui-select>
    </div>

    <div class="alert alert-danger" role="alert"  ng-if="form_g2apay_credentials['app_mod_' + credential.$$hashKey].$error.appsNullRepeated || form_g2apay_credentials['app_mod_'+credential.$$hashKey].$error.appsRepeated">
        <div ng-show="form_g2apay_credentials['app_mod_{[{credential.$$hashKey}]}'].$error.appsRepeated" translate="merchant.pay_methods.forms.errors.apps_repeated"></div>
        <div ng-show="form_g2apay_credentials['app_mod_{[{credential.$$hashKey}]}'].$error.appsNullRepeated" translate="merchant.pay_methods.forms.errors.apps_null_repeated"></div>
    </div>

    <div class="form-group">
        <label>Api hash*</label>
        <input type="text" placeholder="" ng-model="credential.details.api_user" class="form-control" required>
    </div>
    <div class="form-group">
        <label>Secret*</label>
        <input type="text" name="name" placeholder=""  ng-model="credential.details.api_password" class="form-control" required>
    </div>
    <div class="form-group">
        <label>Shop Email*</label>
        <input type="text" name="name" placeholder=""  ng-model="credential.details.shop_email" class="form-control" required>
    </div>

    <footer-buttons provider-name="'g2a'" credential="credential" credentials="providers.g2a" delete="delete"></footer-buttons>

</script>