<form class="validation" name="form_paypal_credentials" ng-submit="submit('paypal', providers.paypal)">

    <div ng-repeat="credential in providers.paypal" ng-include="'form_paypal.html'">
    </div>

    <button type="submit" ng-disabled="form_paypal_credentials.$invalid" class="btn btn-info btn-lg" style="padding: 6px 50px">{[{ 'save' | translate }]} <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></button>

</form>

<!--MODAL WINDOW-->
<script type="text/ng-template" id="form_paypal.html">
    <div class="form-group">
        <label translate="merchant.pay_methods.forms.apps"></label>
        <ui-select multiple name="app_mod_{[{credential.$$hashKey}]}" ng-model="credential.apps" theme="select2" style="width: 100%;" ui-validate="{appsRepeated: 'isValidAppsFromProvider(providers.paypal)', appsNullRepeated: 'isValidAppsFromProviderNull(providers.paypal)'}"  >
            <ui-select-match>
                <div>{[{ $item.name }]}</div>
            </ui-select-match>
            <ui-select-choices repeat="app in apps | filter: {$: $select.search}">
                <div>{[{ app.name }]}</div>
            </ui-select-choices>
        </ui-select>
    </div>

    <div class="alert alert-danger" role="alert"  ng-if="form_paypal_credentials['app_mod_' + credential.$$hashKey].$error.appsNullRepeated || form_paypal_credentials['app_mod_' + credential.$$hashKey].$error.appsRepeated">
        <div ng-show="form_paypal_credentials['app_mod_{[{credential.$$hashKey}]}'].$error.appsRepeated" translate="merchant.pay_methods.forms.errors.apps_repeated"></div>
        <div ng-show="form_paypal_credentials['app_mod_{[{credential.$$hashKey}]}'].$error.appsNullRepeated" translate="merchant.pay_methods.forms.errors.apps_null_repeated"></div>
    </div>

    <div class="form-group">
        <label>Client Id*</label>
        <input type="text" name="name" placeholder=""  ng-model="credential.details.client_id" class="form-control" required>
    </div>
    <div class="form-group">
        <label>Secret*</label>
        <input type="text" name="name" placeholder=""  ng-model="credential.details.secret" class="form-control" required>
    </div>

    <footer-buttons provider-name="'paypal'" credential="credential" credentials="providers.paypal" delete="delete"></footer-buttons>

</script>