<span style="display: inline-block; padding-left:45px " data-ng-if="periodicity  != null" >
    <span ng-if="separator">/</span>
    <span data-ng-if="periodicityToString(periodicity)[0] != null" translate="days_replace" translate-values="{[{ {days : periodicityToString(periodicity)[0]} }]}"></span>
    <span data-ng-if="periodicityToString(periodicity)[1] != null" translate="weeks_replace" translate-values="{[{ {weeks: periodicityToString(periodicity)[1]} }]}"></span>
    <span data-ng-if="periodicityToString(periodicity)[2] != null" translate="months_replace" translate-values="{[{ {months: periodicityToString(periodicity)[2]} }]}"></span>
    <span data-ng-if="periodicityToString(periodicity)[3] != null" translate="years_replace" translate-values="{[{ {years: periodicityToString(periodicity)[3] } }]}"></span>
</span>