{% extends '@App/AppShop/Payment/payment_layout.html.twig' %}
{% block content %}
    <h1>{{ 'payment.done.standard.title' | trans | nl2br }}</h1>
    <div id="description">
        {{ 'payment.done.standard.description' | trans |nl2br }}
    </div>
{% endblock %}
