<a href="{{ path('insert_all_pmpc_to_apps', {'provider_id': object.id}) }}" class="btn btn-sm btn-default edit_link" title="{{ 'action_edit'|trans({}, 'SonataAdminBundle') }}">
    <i class="glyphicon glyphicon-hdd"></i>
    Insert all pmpcs to all apps
</a>
